.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-items: center;
}

.app.bg1 {
  background-image: url(/images/bg1.png);
}

.app.bg2 {
  background-image: url(/images/bg2.png);
}

.app.bg3 {
  background-image: url(/images/bg3.png);
}

.app.bg4 {
  background-image: url(/images/bg4.png);
}

.app__container {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  width: min(100%, 300px);
  padding: 0 10px;
}

.text {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  color: #fad79f;
  text-shadow: 2px 2px 4px #000000;
}

.quoteBox {
  font-family: 'Playfair Display', serif;
  text-align: center;
  position: relative;
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
}

.quoteBox__container {
  position: relative
}

.quoteBox__btn {
   align-items: center;
    background: #f5f5fa92;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    transition: .2s;
    user-select: none;
    touch-action: manipulation;
    white-space: pre;
    width: max-content;
    word-break: normal;
    word-spacing: normal;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
}


footer {
  background-color: hsla(0, 0%, 50%, 0.353);
  padding: 10px;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff;
  border-radius: 5px;
}

.quoteBox__phrase {
  font-size: 2rem;
  text-shadow:  -1px 0px 6px rgba(60, 56, 52, 1);
}

